html{
	
	background:url('image.jpg') no-repeat center center;
    min-height:100%;
	background-size:cover;}

#title{font-family: 'Cabin Condensed', sans-serif;
   color:white;
   font-weight:500;
   font-size:50px;}

#clockdiv
{ color:white;
  font-size:50px;
font-family: 'Metrophobic', Arial, serif; font-weight: 400; }

u {
    text-decoration: none;
    border-bottom: 3px solid white;
  }​
  
  #button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
 background: linear-gradient(top, #34696f, #2f5f63);
	border-radius: 50px;
	box-shadow: 0 8px 0 #1b383b;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}
a {  color:white;
    
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
}

</style>
